body, html {
	width:100%;
	height:100%;
	background-image: -webkit-radial-gradient(#2B928E, #076965);
	background-image: -moz-radial-gradient(#2B928E, #076965);
	background-image: -ms-radial-gradient(#2B928E, #076965);
	background-image: -o-radial-gradient(#2B928E, #076965);
	background-image: radial-gradient(#2B928E, #076965);
}
div#network { 
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}
div.dg.ac {
	z-index: 2;
}

div#wait-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	z-index: 99;
	line-height: 100vh;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
div#wait-box img {
	display:  inline-block;
	vertical-align: middle;
}

header {
	position: relative;
	display: block;
	z-index: 3;
	top: 0;
	left: 0;
}
img#logo {
	transform: rotate(0.001deg); /* Firefox bad png rendering hack */
	margin: 5vmin;
	height: 10vmin;
}
h1, h2, h3{
	text-align: center;
	color: #9B7269;	
	/*font-family: monospace;*/
	font-family: 'Poiret One', cursive;
}
div#content {
	font-family: 'Poiret One', cursive;
	font-size: larger;
	color: white;
	position: fixed;
	z-index: 5;
	width: 40vw;
	height: 70%;
	top: 10vh;
	padding: 1vh 2vw;
	overflow: scroll;
	text-align: center;
	left: 50vw;
}

div#node-title-box {
	perspective: 10em;
	pointer-events: none;
	position: fixed;
	display: block;
	text-align: center;
	height: 20vmin;
	width: 100%;
	top: 70vmin;
	z-index: 3;
}
div#node-title-box h1 {
	font-size: 70px;
	transform: rotateX(45deg);
}


/******************************
.cl-effect-2 a {
	line-height: 44px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	background: #2195de;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0965a0;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
	background: #28a2ee;	
}
******************************/

/* Source: http://simurai.com/lab/2010/06/10/i-love-blur/ */
h1.blurry {
	color: hsla(0,0%,0%,0);
	text-shadow: #222 0 0 60px;
	transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
}
@-moz-document url-prefix() { .txt { text-shadow: #222 0 0 20px; } } /* FF fix */

/*#node-title-box:hover h1.blurry {
	text-shadow: #fff 0 0 2px;
	transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
	}*/
	/***********************************************************/

	footer {
		display: inline-block;
		position: fixed;
		width: 100%;
		text-align: center;
		z-index: 5;
		bottom: 5vmin;
	}
	a.btn-social-icon {
		color: #fff;
	}
	.nopadding {
		padding: 0 !important;
		margin: 0 !important;
	}
	h1#title {
		display: inline-block;
		font-size: 3vh;
		margin-top: 4vh;
	}