div#network { 
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 50%;
	z-index: 2;
}
div.dg.ac {
	z-index: 2;
}

/*div#background {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 80%;
	background-image: url(/img/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 2;
}*/

div#wait {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 99;
}

header {
	position: relative;
	z-index: 3;
	top: 0;
	left: 0;
}
h1, h2, h3{
	text-align: center;
    color: #9B7269;	
    font-family: monospace;
}
div#content {
    font-family: serif;
	position: fixed;
	z-index: 3;
	/*width: 45vw;*/
	width: 100%;
	/*height: 71vh;*/
	height: 70%;
	/*margin-top: 4vh;*/
	top: 30%;
	padding: 2vh 10vw;
	overflow: scroll;
	text-align: justify;
	box-shadow: 0px 3vh 2vh -2vh black inset;
	background-image: linear-gradient(#EEEEEE 0%, white 10%, white 80%, #DDDDDD 100%);
	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	-o-transition: top 1s;
	transition: top 1s;
}
footer {
	position: fixed;
	z-index: 3;
	bottom: 3vh;
	left: 46.5vw;
	display: inline-block;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
img#logo {
	height: 15vw;
	margin: 3vh 3vw 3vh 3vw;
	vertical-align: top;
	display: inline-block;
	position: absolute;
}
h1#title {
	display: inline-block;
	font-size: 3vh;
	margin-top: 4vh;
}