body, html {

}

div#menu {
	font-family: 'Poiret One', monospace;
	background-color: white;
	position: fixed;
	width: 70vmin;
	/*min-width: 70vmin;*/
	height: 100vh;
	right: 0;
	top: 0;
}

div#menu nav {
	overflow: hidden;
	margin-top: 15vh;
	height: 85vh;
	width: 50vmin;
}
div#menu nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
div#menu nav ul li {
	width: 100%;
	/*margin-bottom: -4px;*/
}

div#network {
/*	background: -webkit-radial-gradient(rgba(43,146,142,0.5), rgba(7,105,101,0.7));
	background: -moz-radial-gradient(rgba(43,146,142,0.5), rgba(7,105,101,0.7));
	background: -ms-radial-gradient(rgba(43,146,142,0.5), rgba(7,105,101,0.7)); 
	background: -o-radial-gradient(rgba(43,146,142,0.5), rgba(7,105,101,0.7));
	background: radial-gradient(rgba(43,146,142,0.5), rgba(7,105,101,0.7));*/
	width: 100%;
	height: 100%;
	-webkit-transition:  height 0.6s;
	-moz-transition: height 0.6s;
	transition: height 0.6s;
	position: fixed;
}
div#network.large {
	height: 100%;
}
div#network.small {
	height: 15%;
}
header.large {
	height: 100%;
	position: relative;
}
header.small ~ div#content {
	margin-top: 100vh;
}
header.small {
	height: 15%;
	position: fixed;
	font-size: 100%;
}
div#loading-box {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	z-index: 99;
	line-height: 100vh;
}
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
div#loading-box img.no-frame {
	display:  inline-block;
	vertical-align: middle;
	opacity: 0;
}

header {
	display: block;
	z-index: 3;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background: url('/img/stars.jpg') center 0 no-repeat fixed;
	background-size: 100% 100%;
}
img#logo {
	position: fixed;
	top: 0;
	left: 0;
	transform: rotate(0.001deg); /* Firefox bad png rendering hack */
	margin: 5vmin;
	height: 5vmin;
	min-height: 35px;
	padding: 5px 0;
	z-index: 99; /* Always on top */
}

h1, h2, h3{
	text-align: center;
	color: #9B7269;	
	/*font-family: monospace;*/
	font-family: 'Poiret One', monospace;
}
div#content {
	display: block;
	font-family: 'Poiret One', sans-serif;
	font-size: larger;
	color: gray;
	background-color: white;
	padding: 5vh 15vw;
	text-align: center;
}

div#node-title-box {
	pointer-events: none;
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
}
div#node-title-box h1 {
	font-size: 30px;
	margin: 5vmin;
	display: inline-block;
	position: relative;
}

/***********************/
/* Kukuri, Source: http://tympanus.net/Development/TextStylesHoverEffects/ */
.kukuri {
	text-transform: uppercase;
	/*font-weight: 900;*/
	overflow: hidden;
	/*line-height: 0.75;*/
	color: transparent;
}

.kukuri-hover {
	color: transparent;
}

.kukuri::after {
	content: '';
	position: absolute;
	height: 1vmin;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: rgb(186, 255, 255);
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.kukuri-hover::after {
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
}

.kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.kukuri-hover::before {
	width: 100%;
}
/***********************/

/******************************/
*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
}

nav a {
	position: relative;
	display: inline-block;
	width: 100%;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
	color: #fff;
}
/* Effect 10: reveal, push out */
.cl-effect-10  {
	position: relative;
	z-index: 1;
}

.cl-effect-10 a {
	text-decoration: none;
}

.cl-effect-10 a span {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	background: #9B7269;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-10 a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #9B7269;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

/******************************/

nav ul span { padding-left: 2vw; }
nav ul ul span { padding-left: 4vw; }
nav ul ul ul span { padding-left: 6vw; }
nav ul ul ul ul span { padding-left: 8vw; }
nav ul a::before { padding-left: 2vw; }
nav ul ul a::before { padding-left: 4vw; }
nav ul ul ul a::before { padding-left: 6vw; }
nav ul ul ul ul a::before { padding-left: 8vw; }

div#menu-button {
	position: fixed;
	margin: 4vmin 5vmin;
	top: 0;
	right: 0;
	z-index: 99; /* Always on top */
}
div#menu-button span {
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}
footer {
	display: block;
	text-align: center;
	z-index: 5;
	padding: 3vmin;
	background-color: black;
}
img#logo-footer {
	height: 5vh;
	display: inline-block;
}
a.btn-social-icon {
	color: #fff;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
h1#title {
	display: inline-block;
	font-size: 3vh;
	margin-top: 4vh;
}

footer p#rights {
	color: #2E7179;
	font-size: 1.5vmin;	
}
