.frame { 
	background-color: transparent;
	background-image: url(/img/sprite-loading.png);
	background-repeat: no-repeat;
	width: 100px;  
	height: 107px;
}
.frame-0  { background-position:    0px    0px; }
.frame-1  { background-position: -100px    0px; } 
.frame-2  { background-position: -200px    0px; } 
.frame-3  { background-position: -300px    0px; } 
.frame-4  { background-position: -400px    0px; } 
.frame-5  { background-position: -500px    0px; } 
.frame-6  { background-position: -600px    0px; } 
.frame-7  { background-position: -700px    0px; } 
.frame-8  { background-position: -800px    0px; } 
.frame-9  { background-position: -900px    0px; } 
.frame-10 { background-position:    0px -107px; }
.frame-11 { background-position: -100px -107px; } 
.frame-12 { background-position: -200px -107px; } 
.frame-13 { background-position: -300px -107px; } 
.frame-14 { background-position: -400px -107px; } 
.frame-15 { background-position: -500px -107px; } 
.frame-16 { background-position: -600px -107px; } 
.frame-17 { background-position: -700px -107px; } 
.frame-18 { background-position: -800px -107px; } 
.frame-19 { background-position: -900px -107px; } 
.frame-20 { background-position:    0px -214px; }
.frame-21 { background-position: -100px -214px; } 
.frame-22 { background-position: -200px -214px; } 
.frame-23 { background-position: -300px -214px; } 
.frame-24 { background-position: -400px -214px; } 
.frame-25 { background-position: -500px -214px; } 
.frame-26 { background-position: -600px -214px; } 
.frame-27 { background-position: -700px -214px; } 
.frame-28 { background-position: -800px -214px; } 
.frame-29 { background-position: -900px -214px; } 
.frame-30 { background-position:    0px -321px; }
.frame-31 { background-position: -100px -321px; } 
.frame-32 { background-position: -200px -321px; } 
.frame-33 { background-position: -300px -321px; } 
.frame-34 { background-position: -400px -321px; } 
.frame-35 { background-position: -500px -321px; } 
.frame-36 { background-position: -600px -321px; } 
.frame-37 { background-position: -700px -321px; } 
.frame-38 { background-position: -800px -321px; } 
.frame-39 { background-position: -900px -321px; } 
.frame-40 { background-position:    0px -428px; }
.frame-41 { background-position: -100px -428px; } 
.frame-42 { background-position: -200px -428px; } 
.frame-43 { background-position: -300px -428px; } 
.frame-44 { background-position: -400px -428px; } 
.frame-45 { background-position: -500px -428px; } 
.frame-46 { background-position: -600px -428px; } 
.frame-47 { background-position: -700px -428px; } 
.frame-48 { background-position: -800px -428px; } 
.frame-49 { background-position: -900px -428px; } 
.frame-50 { background-position:    0px -535px; }
.frame-51 { background-position: -100px -535px; } 
.frame-52 { background-position: -200px -535px; } 
.frame-53 { background-position: -300px -535px; } 
.frame-54 { background-position: -400px -535px; } 
.frame-55 { background-position: -500px -535px; } 
.frame-56 { background-position: -600px -535px; } 
.frame-57 { background-position: -700px -535px; } 
.frame-58 { background-position: -800px -535px; } 
.frame-59 { background-position: -900px -535px; }
.frame-60 { background-position:    0px -642px; }
.frame-61 { background-position: -100px -642px; } 
.frame-62 { background-position: -200px -642px; } 

