<footer>
  <img id="logo-footer" src="/img/logo_invert.png" /><br/>
  <p id="social-buttons">
    <a id="btn-twitter" class="btn btn-social-icon" href="https://twitter.com/j3r3mg">
      <i class="fa fa-twitter"></i>
    </a>
    <a id="btn-linkedin" class="btn btn-social-icon" href="https://www.linkedin.com/in/jeremyguillon">
      <i class="fa fa-linkedin"></i>
    </a>
    <a id="btn-github" class="btn btn-social-icon" href="https://github.com/jguillon">
      <i class="fa fa-github"></i>
    </a><br/>
  </p>
  <p id="rights">
    All rights reserved &copy; 2015 GUILLON Jeremy - Designed from scratch with &hearts;
  </p>
</footer>
