<header class="large">

  <div id="network"></div>
  <div id="filled-bg"></div>
  <div id="node-title-box"><h1 class="kukuri" id="node-title" data-letters="">Title</h1></div>
  <a href="/about-me"><img id="logo" src="/svg/logoText_invert.svg" /></a>
  <div id="menu-button">
    <span class="si-icon si-icon-hamburger-cross" data-icon-name="hamburgerCross"></span>
  </div>
  <div id="menu" class="closed" style="right: -70vmin;">
    <nav class="cl-effect-10">
      <ul id="about-me-menu"></ul>
    </nav>
  </div>


  <script src="/js/snap.svg-min.js" type="text/javascript"></script>
  <script src="/js/svgicons-config.js" type="text/javascript"></script>
  <script src="/js/svgicons.js" type="text/javascript"></script>
  <script src="/js/jquery.easing.js" type="text/javascript"></script>
  <script src="/js/jquery.parallax.js" type="text/javascript"></script>
  <script type="text/javascript">

    jQuery(document).ready(function() {

      // SVG Icon Animation
      // =========================================================================
        var svgicon = new svgIcon(
          document.querySelector('.si-icon-hamburger-cross'),
          svgIconConfig,
          { easing : mina.elastic,
            speed: 600,
            size : { w : 45, h : 45 },
            onToggle : toggleMenu }
        );
        $('#menu a').click(function(){
          toggleMenu();
          var href = $(this).attr('href');
          if(selectedNode)
          selectedNode.unselect();
          selectedNode = graph.getNode(href.substring(1,href.length));
          selectedNode.select();
          History.pushState({},selectedNode.htmlId,'#'+selectedNode.htmlId);
          scrollTo(href);
          return false;
        });

      // Menu Toggling Function
      // =========================================================================
      function toggleMenu() {
        var div = $('#menu');
        div.toggleClass('closed');
        if(div.hasClass('closed')) { // Closing menu
          if(svgicon.toggled)
          svgicon.toggle(true)
          div.animate({ right: '-70vmin' }, 600, 'easeOutElastic');
        } else { // Opened menu
          if(!svgicon.toggled)
          svgicon.toggle(true)
          div.animate({ right: '-20vmin' }, 600, 'easeOutElastic');
        }
      }

      // Parallax
      // =========================================================================
      $('header').parallax("50%", 0.5);
      $('#network').parallax("50%", 0.5);

      // Loading
      // =========================================================================

      loadingPercent = 100;

    });

  </script>

</header>
